<h1>Make Sale</h1>
{{ totalCartValue | json }}
<form (ngSubmit)="submitCart()" class="card p-2" [formGroup]="itemForm" *ngIf="products$ | ngrxPush as products; else loading">
  <div formArrayName="cartItems" class="d-flex flex-wrap">
    <div *ngFor="let catItem of cartItems.controls; let i = index" [formGroupName]="i" class="col-12 d-flex flex-wrap">
     <div class="col-lg-4">
       <label for='product'>Select Product</label>
       <ng-select placeholder='Choose a Product' id='product' formControlName='productId' (change)="setPrice(i)">
         <ng-option role='option' *ngFor="let item of products " [value]="item.id">
           {{ item.name | titlecase}}
         </ng-option>
       </ng-select>
     </div>
      <div class="col-lg-2">
        <app-input placeholder="Quantity" label="Quantity" type="number" formControlName="saleQuantity"></app-input>
      </div>
      <div class="col-lg-3">
        <app-input placeholder="Selling Price" label="Selling Price" type="number" formControlName="salePrice"></app-input>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-sm" (click)="addItem()">
    <span class="icon-plus-circled"></span>Add Item
  </button>
  <div class="col-12 p-2">
    <app-validate-submit-buttons [isSubmitting]='submitInProgressSubject$ | ngrxPush' [formItem]='itemForm'>
    </app-validate-submit-buttons>
  </div>
</form>
<ng-template #loading>
  <app-loading-bubble></app-loading-bubble>
</ng-template>
