<h1>Make Sale</h1>

<form (ngSubmit)="submitCart()" class="card p-2" [formGroup]="itemForm" *ngIf="products$ | ngrxPush as products; else loading">
  <div formArrayName="cartItems" class="d-flex flex-wrap">
    <fieldset style="border-left: rgba(194, 255, 238, 0.7) 3px solid; background: rgba(194, 255, 238, 0.1)" *ngFor="let catItem of cartItems.controls; let i = index" [formGroupName]="i" class="p-2 mt-2 col-12 d-flex flex-wrap">
     <legend class="col-12">item {{ i + 1}}</legend>
      <div class="col-lg-4">
       <label for='product'>Select Product</label>
       <ng-select placeholder='Choose a Product' id='product' formControlName='productId' (change)="setPrice(i)">
         <ng-option role='option' *ngFor="let item of products " [value]="item.id">
           {{ item.name | titlecase}}
         </ng-option>
       </ng-select>
     </div>
      <div class="col-lg-2">
        <app-input placeholder="Quantity" label="Quantity" type="number" formControlName="saleQuantity"></app-input>
      </div>
      <div class="col-lg-3">
        <app-input placeholder="Selling Price" label="Selling Price" type="number" formControlName="salePrice"></app-input>
      </div>
      <div class="col-lg-3">
        <button (click)="deleteItem(i)" type="button" [disabled]="cartItems.controls.length === 1" aria-label="delete item" class="mt-lg-4 btn btn-danger btn-sm"><i class="icon-trash"></i></button>
      </div>
    </fieldset>
  </div>
  <div class="d-flex align-items-end mt-3 ml-3">
    <div class="col-lg-2">
      <button type="button" class="btn btn-primary btn-sm" (click)="addItem()">
        <span class="icon-plus-circled"></span>Add Item
      </button>
    </div>
    <div class="col">
      TOTAL SALE: {{ totalCartValue }}
    </div>
  </div>
  <div class="col-12 p-2">
    <app-validate-submit-buttons [isSubmitting]='submitInProgressSubject$ | ngrxPush' [formItem]='itemForm'>
    </app-validate-submit-buttons>
  </div>
</form>
<ng-template #loading>
  <app-loading-bubble></app-loading-bubble>
</ng-template>
