<div class="d-flex justify-content-between align-items-start">
  <h1>{{ title }} Profile </h1>
  <div class="custom-control custom-switch mt-3">
    <input [(ngModel)]='editMode' (ngModelChange)='editModeChangeHandler()' type="checkbox" class="custom-control-input" id="editMode">
    <label class="custom-control-label" for="editMode">
      Enable Editing
      <span [class.icon-edit]='editMode'></span>
      <span [class.icon-eye]='!editMode'></span>
    </label>
  </div>
</div>

<section class='d-flex flex-wrap'>
  <section class='col-sm-5 col-md-4 col-lg-2 d-flex justify-content-center'>
    <span *ngIf='profPicLoadingAction$ | async' class="prof-pic-loading d-flex align-items-center justify-content-center"><i class='icon-spin3 animate-spin'></i></span>
    <div *ngIf='editMode' class="upload-profile-pic">
      <input id='profilePhotoInput' accept="image/*" (change)='onFileSelected(template)' #fileInput hidden type="file">
      <button (click)='fileInput.click()' class='btn btn secondary'><span>Upload Photo</span></button>
    </div>
    <img #profPic class='img-thumbnail img-fluid' src='assets/images/default-user.jpg'
      onerror='this.src="assets/images/default-user.jpg";' alt='' />
  </section>
  <section class='col-sm-7 col-md-8 col-lg-9 d-flex align-items-lg-between flex-wrap'>
    <section class='col-lg-12 d-flex flex-wrap justify-content-between align-items-lg-center'>
      <section class='col-sm-12 d-flex justify-content-between'>
        <h2>{{ fullName | uppercase }}</h2>
      </section>
      <section class='col-lg-6'>
        <app-name-item (valueChanged)='changeProfile("firstName", $event)' [userId]='profile.id' label='First Name' [name]='profile.firstName'></app-name-item>
      </section>
      <section class='col-lg-6'>
        <app-name-item  (valueChanged)='changeProfile("lastName", $event)' [userId]='profile.id' label='Last Name' [name]='profile.lastName'></app-name-item>
      </section>
      <section class='col-lg-6'>
        <app-name-item  (valueChanged)='changeProfile("middleName", $event)' [userId]='profile.id' label='Middle Name' [name]='profile.middleName'></app-name-item>
      </section>
      <section class='col-lg-6'>
        <app-name-item (valueChanged)='changeProfile("otherNames", $event)'  [userId]='profile.id' label='Other Names' [name]='profile.otherNames'></app-name-item>
      </section>
    </section>
  </section>
  <section class='col-sm-12 mt-3'>
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item" *ngFor='let link of links'>
        <a class="nav-link" [routerLink]='fullLink(link)' routerLinkActive='active'>{{ link | titlecase }}</a>
      </li>
      <li  class="nav-item" >
        <a class="nav-link" [routerLink]='["password-management"]'  routerLinkActive='active'>Password Management</a>
      </li>
    </ul>
  </section>
  <section class='col-sm-12 info-route'>
    <router-outlet studentId='1'></router-outlet>
  </section>
</section>

<ng-template #template>
  <div class="modal-header bg-dark">
    <h4 class="modal-title pull-left">Profile Picture Preview</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>

    </button>
  </div>
  <div class="modal-body bg-dark">
    <div class="d-flex justify-content-center">
      <div class="col-lg-12">
        <canvas style="max-width: 500px;" id="profilePhotoCanvas"></canvas>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-dark">


    <button (click)='hideModal()' class="btn btn-secondary">Cancel</button>
    <button (click)='saveProfilePic()' class="btn btn-success">
      
      Save Profile Picture
      <i *ngIf='!savingProfPic' class='icon-floppy'></i>
      <i *ngIf='savingProfPic' class='icon-spin3 animate-spin'></i>
    </button>
  </div>
</ng-template>