h2 {
  max-height: 35px;
}
.nav {
  border-bottom: 0px;
  margin-top: -5px;
}
.info-route {
  
  margin-right: 15px;
  margin-left: 15px;
  min-height: 270px;
  background: rgb(35, 35, 35) !important;
  margin-top: -1px;
  border: 1px solid rgb(88, 88, 88) !important;
  z-index: 1;
  position: relative;
  max-width: calc(100% - 20px);
  
}
.active {
  color: greenyellow !important;
  background: rgb(35, 35, 35) !important;
  border: 1px solid rgb(88, 88, 88) !important;
  border-bottom: none !important;
  z-index: 10;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}

.nav-link:focus, .nav-link:active {
  outline-style: dashed ;
}