<app-full-with-center>
  <section class='card col-lg-12'>
    <section class='card-header'>
      <h1>Password Reset</h1>
    </section>
    <section class='card-body'>
      <form (ngSubmit)='submitPasswordResetForm()' [formGroup]='passwordResetForm' class='form-horizontal'>
        <app-input label='Email' placeholder='email@example.com' id='email' formControlName='email'
          prependIcon='icon-mail' [autofocus]="true"></app-input>
        <section class='d-flex justify-content-between'>
          <button type="button" routerLink='/login' queryParamsHandling='preserve' class='btn btn-secondary'>Cancel</button>

          <button class='btn btn-success'
            [disabled]='!passwordResetForm.dirty || !passwordResetForm.valid || (submitInProgressAction$ | ngrxPush)'>
            Submit
            <i *ngIf='(submitInProgressAction$ | ngrxPush)' class='icon-spin3 animate-spin'></i>
            <i *ngIf='(submitInProgressAction$ | ngrxPush) === false && passwordResetForm.valid && passwordResetForm.dirty'
              class='icon-ok-1'></i>
          </button>
        </section>
      </form>
    </section>
  </section>
</app-full-with-center>
