<app-full-width-centered-content>
  <section class='card col-lg-12'>
    <section class='card-header'>
      <h1>Password Reset</h1>
    </section>
    <section class='card-body'>
      <form (submit)='submitPasswordResetForm()' [formGroup]='passwordResetForm' class='form-horizontal'>
        <app-input label='Email' placeholder='email@example.com' id='email' formControlName='email'
          prependIcon='icon-mail' [autofocus]=[true]></app-input>
        <section class='d-flex justify-content-between'>
          <button type="button" routerLink='/login' class='btn btn-secondary'>Cancel</button>
          <button [disabled]='!passwordResetForm.valid' class='btn btn-success'>Submit</button>
        </section>
      </form>
    </section>
  </section>
</app-full-width-centered-content>