<!-- <button aria-label='Toggle Menu' class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <section class='navbar-nav ml-auto mt-2 mt-lg-0'>
      <app-menu-search></app-menu-search>
      <app-user-button></app-user-button>
    </section>
  </div>
  <button aria-label='Toggle Menu' class="navbar-toggler" type="button" aria-expanded="false"
  aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button> -->


<section class='d-flex justify-content-end'>
  <app-menu-search></app-menu-search>
  <app-user-button></app-user-button>
</section>