<section class="mt-2 d-flex flex-wrap justify-content-around">
  <section class="col-xl-3 col-lg-4 col-md-6">

    <ng-container *ngIf='(isMyProfile$ | ngrxPush) === true'>
      <a class="btn btn-block btn-secondary d-flex justify-content-between m-2" routerLinkActive='active'
        [routerLink]='["change-password"]'>
        Change Password <span class="icon-right-dir"></span>
      </a>
    </ng-container>
    <ng-container *ngIf='(isMyProfile$ | ngrxPush) === false'>
      <a class="btn btn-block btn-secondary d-flex justify-content-between m-2" routerLinkActive='active'
        [routerLink]='["reset-user-password"]'>
        Reset User Password <span class="icon-right-dir"></span>
      </a>
      <a class="btn btn-block btn-secondary d-flex justify-content-between m-2" routerLinkActive='active'
        [routerLink]='["unlock-user"]'>
        Unlock User <span class="icon-right-dir"></span>
      </a>
      <a class="btn btn-block btn-secondary d-flex justify-content-between m-2" routerLinkActive='active'
        [routerLink]='["block-user"]'>
        Block User <span class="icon-right-dir"></span>
      </a>
    </ng-container>

  </section>
  <section class="col-xl-9 col-lg-8 col-md-12">
    <router-outlet></router-outlet>
  </section>
</section>