<h1> Support staff admissions</h1>
<form (submit)='staffTypeFormSubmit()' [formGroup]='staffTypeFrom'>
  <section class="d-flex align-items-end">
    <section class="col-lg-4 col-md-7">
      <label for="staffTypes" class="control-label">Select Staff Type</label>
      <select class="custom-select" formControlName='staffTypeId' id='staffTypes'>
        <ng-container *ngIf='staffTypes$ | ngrxPush as staffTypes;'>
          <ng-container *ngIf='staffTypes.length > 1; else loading'>
            <option value="" selected>--Please Select--</option>
            <option *ngFor='let staffType of staffTypes' [value]="staffType.id">{{ staffType.name | titlecase }}</option>
          </ng-container>
          <ng-template #loading>
            <option value="" disabled selected>Please Wait...</option>
          </ng-template>
        </ng-container>
      </select>
    </section>
    <section class="col-lg-4 col-md-5">

      <button class="btn btn-primary mt-2 mt-lg-3" [disabled]='staffTypeFrom.invalid'>GO <span
          class="icon-paper-plane-empty"></span></button>
    </section>

  </section>
</form>