@media (max-width: 400px) {
  .input-group-prepend {
  	display: none;
  }
}
.invalid-feedback-message {
	padding: 4px;
	line-height: 80%;
	font-size: 65%;
	background: red;
	right: 4%;
	margin-bottom: -21px;
	bottom: 0;
	border-radius: 4px;
	position: absolute;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid red;
  position: absolute;
  margin-top: -10px;
  margin-left: 20px;
}

.required {
	font-size: 0.5em;
	position: absolute;
	left: -10px;
	color: greenyellow;
}
.required-inVisible {
	display: none;
}
input ~ section .show-password {
	color: rgba(0, 0, 0, 0.2);
}
input:focus ~ section .show-password, 
input ~ section .show-password:hover, 
section .show-password:focus {
	color: rgba(0, 0, 0, 1) !important;
}