<section class='form-group mb-4' style="position: relative;">
  <section class='d-flex flex-wrap m-0 p-0 align-items-center'>
  	<label [class]='"col-md-12 col-lg-12 col-sm-12 control-label " + labelClass + " m-0 p-0"' [for]='id'>
			<span class='icon-star required' [class.required-inVisible]='!isRequired'></span>{{ label }}
		</label>
	  <section [class]='inputClass ? inputClass + " input-group" + " m-0 p-0": "col-md-12 col-lg-12 " + inputClass + " input-group" + " m-0 p-0"'>
	  	<section *ngIf='prependIcon' class='input-group-prepend' [class.is-invalid]='fieldError'>
	      <span class='input-group-text' [id]='"inputGroupPrepend" + id'><i [class]='prependIcon'></i></span>
	    </section>
			<input
				[step]='step'
				[min]='min'
	      [autocomplete]='autocomplete'
	      [autofocus]='autofocus'
	      [formControl]='formControl'
	      (keyup)='updateFieldValidation()'
				class='form-control'
				[class.is-invalid]='fieldError'
				[class.is-valid]='formControl.valid && formControl.touched'
	      (blur)='validateField()'
	      [id]='[id]'
	      [type]='fieldType'
				[placeholder]='placeholder'>
				<section class='input-group-append' *ngIf='type === "password"'>
					<button
						appShowPassword
						(toggleType)='fieldType = $event' type="button" class='show-password'>
						<i [class.icon-eye]='fieldType === "password"'></i>
						<i [class.icon-eye-off]='fieldType !== "password"'></i>
					</button>
				</section>
				<section *ngIf='fieldError' class="invalid-feedback-message" style="position: absolute;">
					<div class="arrow-up"></div>
					{{ fieldError }}
				</section>
		</section>
	</section>
	<app-password-meter *ngIf='showPasswordStrength' [passwordString]='passwordStringChangeAction$ | ngrxPush'></app-password-meter>
</section>