ol {
  margin: 0;
  font-size: 1em;
  line-height: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
  border: 1px solid rgba(173, 216, 230, 0.25);
  margin: 2px;
}
.active {
  color: beige;
}
.breadcrumb-item button {
  padding: 0 5px 0 5px;
  margin-top: -2px;
  margin-bottom: -5px;
  min-width: 70px;
  display: inline-block;
}
.breadcrumb-item a {
 min-width: 25px;
 display: inline-block;
 line-height: 1em;
}
.breadcrumb-controls {
  right: 10px;
  position: absolute;
}
nav {
  position: relative;
}