<form (submit)='submitPasswordChangeForm()' [formGroup]='passwordChangeForm' class='form-horizontal'>
  <ng-container *ngIf='showOldPasswordField$ | async'>
    <app-input type='password' labelClass='col-lg-12 col-md-12' inputClass='col-lg-12' label='Old Password'
      placeholder='Enter Old Password' id='oldPassword' formControlName='oldPassword' prependIcon='icon-lock'
      [autofocus]=[true]></app-input>
  </ng-container>


  <!-- <app-password-meter [passwordString]='passwordStringValue$ | async'></app-password-meter> -->
  <app-input type='password' labelClass='col-lg-12 col-md-12' inputClass='col-lg-12' label='New Password'
    placeholder='Enter New Password' id='newPassword' formControlName='newPassword' prependIcon='icon-lock'
    [showPasswordStrength]='true'>
  </app-input>

  <app-input type='password' labelClass='col-lg-12 col-md-12' inputClass='col-lg-12' label='New Password Confirmation'
    placeholder='Enter New Password Confirmation' id='newPasswordConfirmation' formControlName='newPasswordConfirmation'
    prependIcon='icon-lock'>
  </app-input>
  
  <section style="position: relative">
    <small style='position: absolute; margin-top: -25px;' *ngIf='showPasswordMismatch' class="text-danger">Password do not match!</small>
  </section>

  <section class='d-flex justify-content-between'>
    <a type="button" [routerLink]='["/dashboard"]' queryParamsHandling='preserve' class='btn btn-secondary'>Cancel</a>

    <button class='btn btn-success'
      [disabled]='!passwordChangeForm.dirty || !passwordChangeForm.valid || (isSubmittingActions$ | async)'>
      Submit
      <i *ngIf='(isSubmittingActions$ | async)' class='icon-spin3 animate-spin'></i>
      <i *ngIf='(isSubmittingActions$ | async) === false && passwordChangeForm.valid && passwordChangeForm.dirty'
        class='icon-ok-1'></i>
    </button>
  </section>
</form>