<h1>Inventory Movement Management</h1>

<div *ngIf='inventoryStatement$ | async  as movements'>
  <h2>Product Info</h2>
  <div class="card pt-1">
    <table class="table table-dark">
      <tbody>
      <tr>
        <th>Product Id</th>
        <td>{{ movements.id }}</td>
      </tr>
      <tr>
        <th>Product Name</th>
        <td>{{ movements.name }}</td>
      </tr>

      </tbody>
    </table>
  </div>
  <h2 class="mt-4">Inventory Statement</h2>
  <div>
    <table class="mt-2 table table-sm table-dark">
      <thead>
      <tr>
        <th>Movement ID</th>
        <th>Date Time</th>
        <th>Quantity</th>
        <th>Remaining</th>
      </tr>
      </thead>
      <tbody>
      <ng-container >
        <tr *ngIf='movements.inventoryStatement.length < 1'>
          <td colspan="6" class="alert alert-info p-2 m-2">
            No sale on this date found!
          </td>
        </tr>
        <tr *ngFor='let movement of movements.inventoryStatement'>
          <td>{{ movement.type }} - {{ movement.id }}</td>
          <td>{{ movement.dateTime }}</td>
          <td>{{ movement.quantity | minus2parenthesis }}</td>
          <td> {{ movement.total }}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

