<app-full-with-center>
  <section class='d-flex'>
    <section class='card col-lg-12'>
      <section class='card-header'>
        <h1>Login: <small>Gariamba &amp; Sons Autospares <span class="text-danger">(LIVE)</span></small></h1>
      </section>
      <form [formGroup]='loginForm' (ngSubmit)='submitLoginForm()' class='card-body form-horizontal'>
        <app-input [triggerValidation]='triggerValidation' label='Username' placeholder='Enter username/email' id='username' formControlName='username' prependIcon='icon-user' autocomplete='username'>
        </app-input>
        <app-input [triggerValidation]='triggerValidation' label='Password' placeholder='Enter Password' id='password'
          formControlName='password' prependIcon='icon-lock-filled' autocomplete='current-password' type='password'>
        </app-input>

        <section class='d-flex justify-content-between align-items-end'>
          <section class="form-check ml-2">
            <input class="form-check-input" type="checkbox" formControlName="rememberMe" id="remember-me">
            <label class="form-check-label" for="remember-me">
              Remember me
            </label>
          </section>
          <button [disabled]='(submitButtonActive$ | async) === false' class='btn btn-success' type='submit'>
            Login
            <i *ngIf='loginForm.valid && !isSubmitting' class='icon-login'></i>
            <i *ngIf='isSubmitting' class='icon-spin3 animate-spin'></i>
          </button>
        </section>
      </form>

      <section class='card-footer d-flex justify-content-between flex-wrap'>
        <section class="col-9 col-sm-10 col-md-10 col-md-11 p-0 d-flex justify-content-between flex-wrap">
          <span class="">
            <span class="d-inline-block d-sm-none mr-3 ml-3">|</span>
            <a [routerLink]='["/login/token"]' queryParamsHandling='preserve'>Login Using Token</a>
          </span>
          <span class="d-none d-sm-inline-block">|</span>
          <span>
            <span class="d-inline-block d-sm-none mr-3 ml-3">|</span>
            <a aria-label="Reset Password" routerLink='/login/reset' queryParamsHandling='preserve'>Reset Password</a>
          </span>
          <span class="d-none d-sm-inline-block">|</span>
          <span>
            <span class="d-inline-block d-sm-none mr-3 ml-3">|</span>
            <a routerLink='/login/contact-admin' queryParamsHandling='preserve' class="disabled">Contact Admin</a>
          </span>


        </section>
        <section class="col-1 d-none d-sm-inline-block">
          <a title='go to home' routerLink='/'><i class='icon-home'></i></a>
        </section>
      </section>
    </section>
  </section>

</app-full-with-center>
