h1 {
  font-size: 1.5rem;
}

a {
  text-decoration: underline;
}
@media (min-width: 477px) {
  .card {
  	min-width: 478x;
  }
}

@media (min-width: 768px) {
  .card {
  	min-width: 500px;
  }
}

@media (min-width: 992px) {
  .card {
  	min-width: 480px;
  }
}

@media (max-width: 400px) {
  .card {
  	width: 95%;
  }
}
.card-footer {
  font-size: 80%;
}

