<section class="bg-dark">
  <form [formGroup]='productSoldForm' (submit)='productSoldFormSubmit()'>
    <section class="card">
      <section class="card-header">
        <h2>Delete Sold Product</h2>
      </section>
      <section *ngIf='soldProduct$ | async as soldProduct; else loading'>
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Tran Ref</th>
              <th>Product Name</th>
              <th>Sale Details</th>
            </tr>
            <tr>
              <td>#{{ soldProduct.productId }}/{{ soldProduct.saleId}}-{{ soldProduct.id }}</td>
              <td>{{ soldProduct.productName }}</td>
              <td>{{ soldProduct.quantity }} unit<span *ngIf='soldProduct.quantity > 1'>s</span> @
                {{ soldProduct.sellingPrice | currency:(soldProduct.sellingPriceCurrency + ' ') }}</td>
            </tr>
          </thead>
        </table>
      </section>
      <ng-template #loading>
        <section class="p-2">
          <app-loading-bubble></app-loading-bubble>
        </section>
      </ng-template>
      <section class="col-lg-12 mt-3 mb-2 d-flex">
        <label class="col-lg-6" for="idConfirmation">Please Enter Tran Ref To Confirm Deletion</label>
        <section class="col-lg-6">
          <input id="idConfirmation" type="text" formControlName='id' class="form-control" placeholder="e.g #12/2-33">
        </section>
      </section>
      <section class="card-footer d-flex justify-content-between">
        <button [disabled]='productSoldForm.invalid || !productSoldForm.dirty' class="btn btn-danger">
          Delete Sale
          <i *ngIf='((submitInProgressAction$ | async) === false)' class='icon-trash'></i>
          <i *ngIf='(submitInProgressAction$ | async)' class='icon-spin3 animate-spin'></i>
        </button>
        <button (click)='closeModal()' class="btn btn-secondary" type="button"><span
            class="icon-cancel"></span>Cancel</button>

      </section>
    </section>
  </form>

</section>