
<ng-container *ngIf='toast$ | ngrxPush as toast async'>
  <div *ngIf='toast.showMessage' class='toast' style='z-index: 3000; position: absolute; top: 0; right: 0;'>
    <div class='toast-header slideInDown slideOutUp'>
      <strong class='mr-auto'>{{ toast.toastHeader }}</strong>
      <small>{{ toast.toastTime }}</small>
      <button (click)='hideToast()' type='button' class='ml-2 mb-1 close' data-dismiss='toast' aria-label='Close'>
        <span class="icon-cancel-circled" aria-hidden='true'></span>
      </button>
    </div>
    <div class='toast-body'>
      {{ toast.toastBody }}
    </div>
  </div>
</ng-container>