<h2>User Password Reset</h2>
<form (submit)='submitPasswordReset()' [formGroup]='passwordResetForm'>
  <section>
    <div class="form-group">
      <app-input [triggerValidation]='triggerValidationAction$ | async' label='Reset Password' placeholder='Enter Password' id='password'
        formControlName='resetPassword' prependIcon='icon-lock-filled' type='password'>
      </app-input>
    </div>
  </section>
  <section class="card-footer d-flex justify-content-between">
    <button [disabled]='passwordResetForm.invalid || (submitInProgressAction$ | async)' class="btn btn-success">
      Click to Reset
      <i *ngIf='passwordResetForm.valid && (submitInProgressAction$ | async) === false' class='icon-ok'></i>
      <i *ngIf='(submitInProgressAction$ | async)' class='icon-spin3 animate-spin'></i>
    </button>

  </section>
</form>