<section class="bg-dark p-2" *ngIf='vm$ | async as vm; else loading'>
  <h2>Edit Product Quantity</h2>
  <section *ngIf='vm.product as product'>

    <table class="table table-dark">
      <thead>
        <tr>
          <th>
            Product Name
          </th>
          <th>Product ID</th>
          <th>Current Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ product.name }}</td>
          <td>#{{ product.id }}</td>
          <td>{{ vm.inventoryQuantity }}</td>
        </tr>
      </tbody>
    </table>

    <form (submit)='submitInventoryAdjustement()' [formGroup]='inventoryAdjustementForm'>
      <section class="card p-2">
        <section class="d-flex flex-wrap align-items-end justify-content-between">
          <section class="col-lg-5">
            <label class="control-label" for="adjustment">Adjustment</label>
            <input (change)='onAdjustmentChange($event.target.value)' formControlName='adjustment' type="number"
              class="form-control" id='adjustment'>
          </section>
          <section class="col-lg-5">
            <label class="control-label" for="finalStockCount">Final Stock Count</label>
            <input formControlName='finalStockCount' readonly type="number" class="form-control" id='finalStockCount'>
          </section>
          <section class="col-lg-12 mt-2">
            <label class="control-label" for="reasonForAdjustment">Reason For Adjustment</label>
            <textarea formControlName='reasonForAdjustment' class="form-control" id='reasonForAdjustment'></textarea>
          </section>
        
        </section>
        
        <section class="card-footer d-flex justify-content-between">
          <button [disabled]='inventoryAdjustementForm.invalid || !inventoryAdjustementForm.dirty' class="btn btn-success">
            Save Quantity
            <i *ngIf='inventoryAdjustementForm.valid && (submitInProgressAction$ | async) === false' class='icon-ok'></i>
            <i *ngIf='(submitInProgressAction$ | async)' class='icon-spin3 animate-spin'></i>
          </button>
          <button (click)='closeModal()' class="btn btn-secondary" type="button"><span
              class="icon-cancel"></span>Cancel</button>
        
        </section>
      </section>
    </form>
  </section>

</section>
<ng-template #loading>
  <section class="bg-dark p-2">
    <h2>Edit Product Quantity</h2>
    <span class="p-4">Please Wait ...</span>
  </section>
</ng-template>