<ul class='nav' *ngIf='user$ | ngrxPush as user'>
  <li class='nav-item bg-dark'>
    <button [attr.aria-expanded]="(isCollapsedAction$ | ngrxPush) === false" (click)="toggleMenu()" class='bg-dark nav-link dropdown-toggle'
      role='button' aria-haspopup='true' aria-expanded='false'>
      {{ user.firstName }} {{ user.lastName }}
    </button>
    <div #dropdown [class.show]="(isCollapsedAction$ | ngrxPush) || ((isCollapsedAction$ | ngrxPush) !== isCollapsed)" class='dropdown-menu dropdown-menu-right bg-dark' aria-label='User Profile'>
      <a (click)='toggleMenu()' class='dropdown-item' routerLink='/my-profile'><span class='icon-user'>My Profile</span></a>
      <div class='dropdown-divider'></div>
      <app-logout-button (click)='toggleMenu()'></app-logout-button>
    </div>
  </li>
</ul>