<section class="bg-dark">
  <form [formGroup]='newSaleItemForm' (submit)='newSaleItemFormSubmit()'>
    <section class="card">
      <section class="card-header d-flex justify-content-between">
        <h2>Sale Items</h2>
        <span>
          <button disabled type="button" class="btn btn-success">
            <span class="icon-cart-plus mr-3">
              <span class="badge badge-secondary pt-0">{{ cartItemsCount$ | async }}</span>
            </span>

            Total : {{ cartItemsPrice$ | async | currency: 'KES ' }}
          </button>
          <button (click)='closeModal()' class="btn btn-success ml-2" type="button"><span class="icon-ok"></span>
            View Cart
          </button>
        </span>
      </section>
      <section class="card-body">
        <section class="d-flex flex-wrap">
          <section class="col-lg-6 mt-3">
            <label class="control-label" for="product">Product</label>
            <ng-select placeholder='Choose a Product' id='product' formControlName='productId'>
              <ng-option role='option' *ngFor="let item of products$ | async" [value]="item.id">
                {{ item.name | titlecase}}
              </ng-option>
            </ng-select>
          </section>
          <section class="col-lg-6 mt-3">
            <app-input type='number' label='Quantity' placeholder='eg 20' id='purchasePrice'
              formControlName='saleQuantity'>
            </app-input>
          </section>

          <section class="col-lg-6 mt-3">
            <label class="control-label" for="unitPrice">Default Selling Price</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="button" class="btn bg-light text-dark">{{ unitPriceCurrency.value }}</button>
              </div>
              <input readonly class="form-control" id='unitPrice' formControlName='unitPrice' type="number" />
            </div>
          </section>
          <section class="col-lg-6 mt-3">
            <label class="control-label" for="salePrice">Selling Price</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="btn-group" dropdown>
                  <button type="button" class="btn bg-light text-dark">{{ saleCurrency.value }}</button>
                  <button id="button-split" type="button" dropdownToggle
                    class="btn bg-light text-dark dropdown-toggle dropdown-toggle-split" aria-controls="dropdown-split">
                    <span class="caret"></span>
                    <span class="sr-only">Change Currency</span>
                  </button>
                  <ul id="dropdown-split" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-split">
                    <li *ngFor='let currency of currencies$ | async' (click)='saleCurrency.setValue(currency)'
                      role="menuitem">
                      <span class="dropdown-item">{{ currency }}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <input type="number" class="form-control" id='salePrice' formControlName='salePrice' required />
            </div>
          </section>
        </section>
      </section>

      <section class="card-footer d-flex justify-content-between">
        <section>
          <button [disabled]='newSaleItemForm.invalid || !newSaleItemForm.dirty' class="btn btn-primary">
            Add To Cart
            <span class="icon-cart-plus"></span>
          </button>
          <span *ngIf='cartAdditionAction$ | async' class="text-success m-2">Item added to cart!</span></section>
        <button [disabled]='!newSaleItemForm.dirty' (click)='resetForm()' class="btn btn-secondary mr-3"
          type="button"><span class="icon-cancel"></span>Clear</button>

      </section>
    </section>
  </form>
</section>